/* Global variables */
* {
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
}

/* Avalanche logo */
#logoAvalanche-container {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100vw;

  display: grid;
  align-items: center;
  align-content: center;
}

#logoAvalanche-wrapper {
  position: relative;
  display: table;
  height: 100%;
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

#logoAvalanche {
  display: table-cell;
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

/* Icons */
#marketplace,
#liquidDelegating,
#user,
#liquidStaking,
#redeem,
#levelUp,
#stats,
#unactiveUser {
  z-index: 2;
  position: absolute;
  margin: 0;
  opacity: 0;
  transition: .6s ease-out;
}

#marketplace:hover,
#liquidDelegating:hover,
#user:hover,
#liquidStaking:hover,
#redeem:hover,
#levelUp:hover,
#stats:hover,
#unactiveUser:hover {
  opacity: 1;
}

#marketplace {
  height: 10%;
  top: 11.5%;
  left: 45.25%;
}

#liquidDelegating {
  height: 16%;
  top: 42.7%;
  left: 27.5%;
}

#user {
  height: 7%;
  top: 34.5%;
  left: 47.25%;
}

#liquidStaking {
  height: 16%;
  top: 42%;
  left: 58%;
}

#redeem {
  height: 9%;
  top: 80.5%;
  left: 13.6%;
}

#levelUp {
  height: 9%;
  top: 80.5%;
  left: 34.3%;
}

#stats {
  height: 8%;
  top: 80.5%;
  left: 56.3%;
}

#unactiveUser {
  height: 9%;
  top: 80%;
  left: 80.5%;
}

/* Media Query for touch screens -> no opacity effect */
@media screen and (max-width: 750px) {

  #marketplace,
  #liquidDelegating,
  #user,
  #liquidStaking,
  #redeem,
  #levelUp,
  #stats,
  #unactiveUser {
    opacity: 1;
  }
}

/* https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll */
a {
  text-decoration: none;
}

/*
Menu
*/
/* Toggle button */
#toggle-button {
  z-index: 999;

  position: fixed;
  top: 20px;
  left: 20px;

  cursor: pointer;

  transition: all .7s ease-in-out;

  padding: 4.5px 1px;
}

#toggle-button:hover {
  border-color: white;
}

#toggle-button .bar {
  display: block;

  width: 35px;
  height: 3.5px;

  background: #FFFFFF;
  border-radius: 10px;

  transition: all .7s ease-in-out;

  margin: 6.5px 4.5px;
}

#toggle-button:hover #center-bar {
  transform: translateX(5px);
}

#toggle-button:hover #center-bar.visible {
  transform: translateX(-5px);
}

#toggle-button:hover .bar {
  background: rgb(215, 80, 74);
}

#toggle-button.visible {
  left: 270px;
}

/* Sidebar */
#sidebar {
  z-index: 999;

  position: fixed;
  top: 0;
  left: -250px;

  width: 250px;
  height: 100%;

  background-image: linear-gradient(rgba(50, 0, 0, 0.4) 0%, transparent);
  backdrop-filter: blur(10px);
  color: #FFFFFF;

  transition: left 0.5s;
}

#sidebar.visible {
  left: 0;
}

/* List */
#sidebar-ul {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style-type: none;

  display: grid;
  grid-template-rows: repeat(9, 1fr);
  align-items: center;
  list-style-position: inside;
  grid-template-columns: 30% 70%;

  /* display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-evenly; */
}

#sidebar-ul img {
  text-align: center;
}

#home-sidebar,
#user-sidebar,
#manageUser-sidebar,
#levelUp-sidebar,
#liquidStaking-sidebar,
#liquidDelegating-sidebar,
#marketplace-sidebar,
#redeem-sidebar,
#stats-sidebar {
  height: 30px;
}

.imageSidebar-container {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.redacted,
#sidebar-homePlaceholder,
#sidebar-userPlaceholder,
#sidebar-levelUpPlaceholder,
#sidebar-manageUserPlaceholder {
  color: white;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 20px;
  transition: .5s;
  border-bottom: 1px solid transparent;
}

#sidebar-homePlaceholder {
  color: rgb(215, 80, 74);
  border-bottom: 1px solid white;
}

#sidebar-ul li:hover {
  color: rgb(215, 80, 74);
  border-bottom: 1px solid white;
}

/* Background */
/* Global variables */
:root {
  --color-bg: hsl(0, 0%, 0%);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

/* Environment */
#background {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg);
}

/* Animated Background */
/* Bottom */
#retrobg {
  position: relative;
  overflow: hidden;
  height: 100%;
  color: rgb(255, 255, 255);
  background-color: black;
}

#retrobg-ground {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 30%;
  bottom: 0;
  background-color: #000;
}

#retrobg-groundShadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgb(50, 0, 0) 0%, transparent);
}

#retrobg-linesWrap {
  height: 100%;
  perspective: 1000px;
  perspective-origin: center top;
}

#retrobg-lines {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: top center;
  animation: 6s linear infinite retrobg-lines-anim;
}

@keyframes retrobg-lines-anim {
  from {
    transform: rotateX(84deg) translateY(0);
  }

  to {
    transform: rotateX(84deg) translateY(100px);
  }
}

#retrobg-hlines,
#retrobg-vlines {
  position: absolute;
  left: calc((900% - 100%) / -2);
  width: 900%;
  height: 500%;
}

#retrobg-vlines {
  display: flex;
  justify-content: center;
}

.retrobg-hline,
.retrobg-vline {
  width: 100%;
  height: 100%;
  background-color: currentColor;
}

.retrobg-hline {
  height: 3px;
}

.retrobg-vline {
  width: 3px;
}

.retrobg-hline+.retrobg-hline {
  margin-top: 98px;
}

.retrobg-vline+.retrobg-vline {
  margin-left: 48px;
}