/* Main grid */
#mainGrid {
    z-index: 1;
    position: relative;
    display: grid;
    gap: 0.5rem;
    grid-template-rows: auto 90%;
    grid-template-columns: 35% auto;
    height: 100vh;
}

/* Main Div */
#metamaskButtonMainDiv {
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    grid-row: 1/2;
    grid-column: 1/3;
}
#avalancheMainDiv {
    position: relative;
    display: grid;
    grid-template-rows: 15% 52.5% 32.5%;
    height: 100%;
    max-width: 100%;
    max-height: 100vh;
    grid-row: 2/3;
    grid-column: 1/2;
}
#userMainDiv {
    position: relative;
    display: table;
    height: 100%;
    max-width: 100%;
    max-height: 100vh;
    grid-row: 2/3;
    grid-column: 2/3;
}

/* Metamask */
.metamaskButton {
    position: absolute;
    display: table-cell;
    top: 30%;
    left: 88.5%;
    width: 10%;
    height: 90%;
    max-width: 100%;
    max-height: 100vh;
    color: white;
    overflow: hidden;
    border: 3px solid white;
    background-color: transparent;
    cursor: pointer;
    transition: 0.75s ease-out;
}
.metamaskIcon {
    height: 70%;
    width: 45%;
    transition: 0.75s ease-out;
}
.metamaskButton:hover,
.metamaskIcon:hover
{
    filter: drop-shadow(0px 0px 8px red);
}

/* Avax */
#percentagePopUpDiv {
    position: relative;
    display: table;
    height: 100%;
    max-width: 100%;
    max-height: 100vh;
}
#emptyWhiteAvaxLogoDiv {
    position: relative;
    display: table;
    height: 100%;
    max-width: 100%;
    max-height: 100vh;
}
#inputDiv {
    position: relative;
    display: grid;
    grid-template-rows: 50% 50%;
    height: 100%;
    max-width: 100%;
    max-height: 100vh;
}


.percentagePopUp {
    position: absolute;
    height: 75%;
    width: 75%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100vh;
    transition: 1s;
    opacity: 0;
}
.percentage { 
    z-index: 2;
    position: absolute;
    height: 75%;
    width: 75%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100vh;
}
.emptyWhiteAvaxLogo {
    position: absolute;
    height: 100%;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(black 100%, #D7504A);
    border-radius: 50%;
}
.emptyWhiteAvaxLogo:hover > .percentagePopUp {
    opacity: 1;
}
/* manage impossible numbers */
.numberInput {
    position: relative;
    height: 50%;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100vh;
    
    border: 2.5px solid white;
    background: white;
    text-align: center;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 37px;
    border-radius: 12%;
    padding: 0.5%;
    color: #D7504A;
    transition: 1s;
}
.numberInput:hover {
    filter: drop-shadow(0px 0px 8px red);
    outline: none;
    border-color: #D7504A;
    color: #D7504A;
}
.numberInput:focus {
    filter: drop-shadow(0px 0px 8px red);
    outline: none;
    border-color: #D7504A;
    color: #D7504A;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.buttonInput {
    position: relative;
    height: 50%;
    width: 30%;
    left: 35%;
    top: 4%;
    max-width: 100%;
    max-height: 100vh;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 10px;
    border: 0px;
    background-image: linear-gradient(45deg, #FFFFFF 0% 5%, #D7504A 24% 30%, #FFFFFF  80% 100%);
    cursor: pointer;
    user-select: none;
    overflow: hidden;
}
.buttonInput:hover {
    background-position: right center;
    color: #D7504A;
    text-decoration: none;
}

/* User */
.orbitalLevels {
    position: absolute;
    max-width: 77.5%;
    max-height: 100vh;
    height: 60%;
    top: 11%;
    left: -9%;
}

/* .levelMetadata {

} */

.quantityLVL1,
.quantityLVL2,
.quantityLVL3,
.quantityLVL4,
.quantityLVL5,
.healthLVL1,
.healthLVL2,
.healthLVL3,
.healthLVL4,
.healthLVL5,
.rewardLVL1,
.rewardLVL2,
.rewardLVL3,
.rewardLVL4,
.rewardLVL5 {
    position: absolute;
    max-width: 100%;
    max-height: 100vh;
    color: #FFFFFF;
    font-size: 2.5vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 1s;
}
.quantityLVL1:hover,
.quantityLVL2:hover,
.quantityLVL3:hover,
.quantityLVL4:hover,
.quantityLVL5:hover,
.healthLVL1:hover,
.healthLVL2:hover,
.healthLVL3:hover,
.healthLVL4:hover,
.healthLVL5:hover,
.rewardLVL1:hover,
.rewardLVL2:hover,
.rewardLVL3:hover,
.rewardLVL4:hover,
.rewardLVL5:hover {
    color: #D7504A;
}
.quantityLVL1 {
    top: 9.8%;
    left: 10%;
}
.quantityLVL2 {
    top: 22%;
    left: 12%;
}
.quantityLVL3 {
    top: 34.6%;
    left: 15.5%;
}
.quantityLVL4 {
    top: 46.8%;
    left: 12%;
}
.quantityLVL5 {
    top: 59.6%;
    left: 10%;
}
.healthLVL1 {
    top: 9.8%;
    left: 30.6%;
}
.healthLVL2 {
    top: 22%;
    left: 32.6%;
}
.healthLVL3 {
    top: 34.6%;
    left: 36.8%;
}
.healthLVL4 {
    top: 46.8%;
    left: 32.6%;
}
.healthLVL5 {
    top: 59.6%;
    left: 30.6%;
}
.rewardLVL1 {
    top: 9.8%;
    left: 49%;
}
.rewardLVL2 {
    top: 22%;
    left: 52%;
}
.rewardLVL3 {
    top: 34.6%;
    left: 54%;
}
.rewardLVL4 {
    top: 46.8%;
    left: 52%;
}
.rewardLVL5 {
    top: 59.6%;
    left: 49%;
}


.rewardIcon1,
.rewardIcon2,
.rewardIcon3,
.rewardIcon4,
.rewardIcon5,
.healthIcon1,
.healthIcon2,
.healthIcon3,
.healthIcon4,
.healthIcon5,
.levelUpIcon1,
.levelUpIcon2,
.levelUpIcon3,
.levelUpIcon4,
.levelUpIcon5,
.rcpIcon
{
    position: absolute;
    max-width: 6.65%;
    max-height: 100vh;
    height: 8%;
    cursor: pointer;
    transition: 0.75s ease-out;
}
.rewardIcon1:hover,
.rewardIcon2:hover,
.rewardIcon3:hover,
.rewardIcon4:hover,
.rewardIcon5:hover,
.healthIcon1:hover,
.healthIcon2:hover,
.healthIcon3:hover,
.healthIcon4:hover,
.healthIcon5:hover,
.levelUpIcon1:hover,
.levelUpIcon2:hover,
.levelUpIcon3:hover,
.levelUpIcon4:hover,
.levelUpIcon5:hover,
.rcpIcon:hover
{
    filter: drop-shadow(3px 3px 8px red); /* zero zero? */
}
.rewardIcon1 {
    top: 12%;
    left: 70%;
}
.rewardIcon2 {
    top: 24.5%;
    left: 70%;
}
.rewardIcon3 {
    top: 37%;
    left: 70%;
}
.rewardIcon4 {
    top: 49.5%;
    left: 70%;
}
.rewardIcon5 {
    top: 62%;
    left: 70%;
}
.allRewardIcons {
    position: absolute;
    max-width: 100%;
    max-height: 100vh;
    cursor: pointer;
    left: 69.6%;
    top: 72.5%;
    height: 5%;
    width: 7%;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 10px;
    border: 0px;
    background-image: linear-gradient(45deg, #FFFFFF 0% 5%, #D7504A 24% 30%, #FFFFFF  80% 100%);
    cursor: pointer;
    user-select: none;
    overflow: hidden;
}
.allRewardIcons:hover {
    background-position: right center;
    color: #D7504A;
    text-decoration: none;
}
.healthIcon1 {
    top: 12%;
    left: 77.5%;
}
.healthIcon2 {
    top: 24.5%;
    left: 77.5%;
}
.healthIcon3 {
    top: 37%;
    left: 77.5%;
}
.healthIcon4 {
    top: 49.5%;
    left: 77.5%;
}
.healthIcon5 {
    top: 62%;
    left: 77.5%;
}
.allHealthIcons {
    position: absolute;
    max-width: 100%;
    max-height: 100vh;
    cursor: pointer;
    left: 77.9%;
    top: 72.5%;
    height: 5%;
    width: 7%;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 10px;
    border: 0px;
    background-image: linear-gradient(45deg, #FFFFFF 0% 5%, #D7504A 24% 30%, #FFFFFF  80% 100%);
    cursor: pointer;
    user-select: none;
    overflow: hidden;
}
.allHealthIcons:hover {
    background-position: right center;
    color: #D7504A;
    text-decoration: none;
}
.levelUpIcon1 {
    top: 12%;
    left: 85%;
    opacity: 0;
}
.levelUpIcon2 {
    top: 24.5%;
    left: 85%;
    opacity: 0;
}
.levelUpIcon3 {
    top: 37%;
    left: 85%;
    opacity: 0;
}
.levelUpIcon4 {
    top: 49.5%;
    left: 85%;
    opacity: 0;
}
.levelUpIcon5 {
    top: 62%;
    left: 85%;
    opacity: 0;
}

.rcpIcon {
    top: 37%;
    left: -4%;
}

/* Media Query for touch screens - position grids, icons and metamask*/
@media screen and (max-width: 700px) {
    #mainGrid {
        grid-template-rows: 10% 40% 50%;
        grid-template-columns: 100%;
    }
    #metamaskButtonMainDiv {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    #avalancheMainDiv {
        position: relative;
        display: grid;
        grid-template-rows: 15% 52.5% 32.5%;
        height: 100%;
        max-width: 100%;
        max-height: 100vh;
        grid-row: 2/3;
        grid-column: 1/2;
    }
    #userMainDiv {
        position: relative;
        display: table;
        height: 100%;
        max-width: 100%;
        max-height: 100vh;
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .metamaskButton {
        width: 20%;
        left: 78%;
    }
    .metamaskIcon {
        width: 90%;
    }
    .orbitalLevels {
        left: 0.5%;
    }

    .quantityLVL1,
    .quantityLVL2,
    .quantityLVL3,
    .quantityLVL4,
    .quantityLVL5 {
        left: 23%;
    }
    .healthLVL1,
    .healthLVL2,
    .healthLVL3,
    .healthLVL4,
    .healthLVL5 {
        left: 40%;
    }
    .rewardLVL1,
    .rewardLVL2,
    .rewardLVL3,
    .rewardLVL4,
    .rewardLVL5 {
        left: 58%;
    }

    .rcpIcon {
        left: 5%;
    }
}

/* Background */
/* Global variables */
:root {
    --color-bg: hsl(0, 0%, 0%);
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}
/* Environment */
#background {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg);
}

/* Animated Background */
/* Bottom */
#retrobg {
    position: relative;
    overflow: hidden;
    height: 100%;
    color: rgb(255, 255, 255);
    background-color: black;
}

#retrobg-ground {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 30%;
    bottom: 0;
    background-color: #000;
}
#retrobg-groundShadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( rgb(50, 0, 0) 0%, transparent );
}

#retrobg-linesWrap {
    height: 100%;
    perspective: 1000px;
    perspective-origin: center top;
}
#retrobg-lines {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: top center;
    animation: 6s linear infinite retrobg-lines-anim;
}
@keyframes retrobg-lines-anim {
    from { transform: rotateX( 84deg ) translateY( 0 ); }
    to { transform: rotateX( 84deg ) translateY( 100px ); }
}
#retrobg-hlines,
#retrobg-vlines {
    position: absolute;
    left: calc( ( 900% - 100% ) / -2 );
    width: 900%;
    height: 500%;
}
#retrobg-vlines {
    display: flex;
    justify-content: center;
}
.retrobg-hline,
.retrobg-vline {
    width: 100%;
    height: 100%;
    background-color: currentColor;
}
.retrobg-hline { height: 3px; }
.retrobg-vline { width: 3px; }
.retrobg-hline + .retrobg-hline { margin-top: 98px; }
.retrobg-vline + .retrobg-vline { margin-left: 48px; }